<!-- change show class to invisible after debugging -->
<div class="offcanvas offcanvas-start fixed bottom-0 flex flex-col max-w-full bg-white invisible bg-clip-padding shadow-sm outline-none transition duration-300 ease-in-out text-accent-600 top-0 left-0 border-none w-96"
    tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <!-- head -->
    <div class="py-4 px-4 bg-gray-700 flex justify-between items-center">

        <div class="flex items-center">
            <div class="shrink-0 rounded-full bg-gray-50">
                <img [src]="getAccountInfo().avatar" class="rounded-full w-11" alt="Avatar" *ngIf="getLogin()" />

                <i class="fi fi-br-user text-2xl text-gray-600 p-3" *ngIf="!getLogin()"></i>
            </div>
            <div class="grow ml-3">
                <p class="text-base font-light text-gray-100" *ngIf="!getLogin()">
                    <a href="#">Hello, Sign in</a>
                </p>
                <p class="text-base font-light text-gray-100" *ngIf="getLogin()">{{getAccountInfo().name}}</p>
            </div>
        </div>

        <div class="flex">
            <a routerLink="/account/profile">
                <i
                    class="fi fi-br-settings text-white text-lg p-2 hover:text-gray-300 cursor-pointer active:text-accent-600"></i>
            </a>
            <div class="w-[1px] bg-gray-500 mx-2"></div>
            <i class="fi fi-br-cross text-white text-sm p-2 hover:text-gray-300 cursor-pointer active:text-accent-600"
                data-bs-dismiss="offcanvas" aria-label="Close"></i>
        </div>

    </div>

    <!-- body -->
    <div class="offcanvas-body flex-grow overflow-y-auto text-black">

        <ul class="text-sm font-normal py-3">
            <li class="list">
                <h2 class="text-xl font-medium">
                    Trending
                </h2>
                <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg"></i>
            </li>
            <li class="list-hover">
                <i class="fi fi-br-crown mr-2 !visible"></i>Best Sellers
            </li>

            <li class="list-hover">
                <i class="fi fi-br-star-octogram mr-2 !visible"></i>New Releases
            </li>
        </ul>
        <hr class="my-2" />

        <ul class="text-sm font-normal py-3">
            <li class="list">
                <h2 class="text-xl font-medium">
                    Furniture
                </h2>
                <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg"></i>
            </li>
            <li *ngFor="let furniture of getFurnitureArray()">
                <a href="#{{furniture}}" class="list-hover justify-between text-sm">
                    {{furniture}} <i class="fi fi-br-caret-right"></i>
                </a>
            </li>
        </ul>
        <hr class="my-2" />

        <ul class="text-sm font-normal py-3">
            <li class="list">
                <h2 class="text-xl font-medium">
                    Help & Settings
                </h2>
                <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg"></i>
            </li>
            <li>
                <a routerLink="/account/profile" class="list-hover justify-between">
                    Your Account <i class="fi fi-br-caret-right"></i>
                </a>
            </li>

            <li>
                <a routerLink="account/contact-us" class="list-hover justify-between">
                    Customer Service <i class="fi fi-br-caret-right"></i>
                </a>
            </li>

            <li class="list-hover justify-between">
                <a routerLink="/account/sign-out" *ngIf="getLogin()" class="w-full">Sign out</a> <i *ngIf="getLogin()"
                    class="fi fi-br-caret-right"></i>
                <a routerLink="/account/sign-in" *ngIf="!getLogin()" class="w-full">Sign in</a> <i *ngIf="!getLogin()"
                    class="fi fi-br-caret-right"></i>
            </li>
        </ul>

        <div class="text-center  w-full">
            <hr class="m-0" />
            <p class="py-2 text-sm text-gray-700">woodenworld.com</p>
        </div>
    </div>
</div>