<ul class="text-sm font-normal pl-8 py-5 overflow-y-auto">

    <!-- sort by -->
    <li>
        <div class="py-3 pr-5 flex justify-between items-center">
            <h2 class="text-xl font-medium">
                Sort by
            </h2>
            <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg" data-bs-toggle="collapse"
                href="#collapseSortFilter" role="button" aria-expanded="false" aria-controls="collapseSortFilter"></i>
        </div>

        <div class="show" id="collapseSortFilter" class="ml-5">
            <div *ngFor="let sortBy of getSortByValues()">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded-full h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="radio" name="sortBy" [id]="sortBy.value" [checked]="sortBy.value === 'relevance'">
                    <label [for]="sortBy.value">{{sortBy.title}}</label>
                </div>
            </div>
        </div>
    </li>

    <!-- sort by brand -->
    <li>

        <div class="py-3  pr-5  flex justify-between items-center">
            <h2 class="text-xl font-medium">
                Brands
            </h2>
            <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg" data-bs-toggle="collapse"
                href="#collapseBrandFilter" role="button" aria-expanded="false" aria-controls="collapseBrandFilter"></i>
        </div>


        <div class="show" id="collapseBrandFilter" class="ml-5">

            <div *ngFor="let filterBrand of getBrandNames()">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox" name="sortBy" [id]="filterBrand">
                    <label [for]="filterBrand">{{filterBrand}}</label>
                </div>
            </div>
        </div>

    </li>

    <!-- sort by price -->
    <li>
        <div class="py-3  pr-5  flex justify-between items-center">
            <h2 class="text-xl font-medium">
                Price
            </h2>
            <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg" data-bs-toggle="collapse"
                href="#collapsePricesFilter" role="button" aria-expanded="false"
                aria-controls="collapsePricesFilter"></i>
        </div>


        <div class="show" id="collapsePricesFilter" class="ml-5">


            <div *ngFor="let priceFilter of getPrices()">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox" name="sortBy" [id]="priceFilter">
                    <label [for]="priceFilter">{{priceFilter}}</label>
                </div>
            </div>
        </div>
    </li>

    <!-- sort by dimensions -->
    <li>
        <div class="py-3  pr-5  flex justify-between items-center">
            <h2 class="text-xl font-medium">
                Dimensions
            </h2>
            <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg" data-bs-toggle="collapse"
                href="#collapseDimensionsFilter" role="button" aria-expanded="false"
                aria-controls="collapseDimensionsFilter"></i>
        </div>


        <div class="show" id="collapseDimensionsFilter" class="ml-5">

            <div *ngFor="let dimensionFilter of getDimensions()">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox" name="sortBy" [id]="dimensionFilter">
                    <label [for]="dimensionFilter">{{dimensionFilter}}</label>
                </div>
            </div>
        </div>
    </li>

    <!-- sort by Style -->
    <li>
        <div class="py-3  pr-5  flex justify-between items-center">
            <h2 class="text-xl font-medium">
                Style
            </h2>
            <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg" data-bs-toggle="collapse"
                href="#collapseStylesFilter" role="button" aria-expanded="false"
                aria-controls="collapseStylesFilter"></i>
        </div>


        <div class="show" id="collapseStylesFilter" class="ml-5">

            <div *ngFor="let stylesFilter of getStyles()">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox" name="sortBy" [id]="stylesFilter">
                    <label [for]="stylesFilter">{{stylesFilter}}</label>
                </div>
            </div>
        </div>
    </li>

    <!-- sort by material -->
    <li>
        <div class="py-3  pr-5  flex justify-between items-center">
            <h2 class="text-xl font-medium">
                Material
            </h2>
            <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg" data-bs-toggle="collapse"
                href="#collapseMaterialFilter" role="button" aria-expanded="false"
                aria-controls="collapseMaterialFilter"></i>
        </div>


        <div class="show" id="collapseMaterialFilter" class="ml-5">

            <div *ngFor="let materialFilter of getMaterial()">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox" name="sortBy" [id]="materialFilter">
                    <label [for]="materialFilter">{{materialFilter}}</label>
                </div>
            </div>
        </div>
    </li>

    <!-- sort by discount -->
    <li>
        <div class="py-3  pr-5  flex justify-between items-center">
            <h2 class="text-xl font-medium">
                Discounts
            </h2>
            <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg" data-bs-toggle="collapse"
                href="#collapseDiscountsFilter" role="button" aria-expanded="false"
                aria-controls="collapseDiscountsFilter"></i>
        </div>

        <div class="show" id="collapseDiscountsFilter" class="ml-5">

            <div *ngFor="let discountFilter of getDiscounts()">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded-full h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="radio" name="sortBy" [id]="discountFilter">
                    <label [for]="discountFilter">{{discountFilter}}</label>
                </div>
            </div>
        </div>
    </li>
</ul>