<div class="w-full min-h-full ">

    <ul class="text-sm font-normal py-3 h-screen overflow-y-scroll">

        <!-- sort by -->
        <li>
            <div class="py-3 pl-8 pr-5  flex justify-between items-center">
                <h2 class="text-xl font-medium">
                    Sort by
                </h2>
                <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg"></i>
            </div>

            <div *ngFor="let sortBy of getSortByValues()" class="ml-10">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded-full h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="radio" name="sortBy" [id]="sortBy.value" [checked]="sortBy.value === 'relevance'">
                    <label [for]="sortBy.value">{{sortBy.title}}</label>
                </div>
            </div>
        </li>

        <!-- sort by brand -->
        <li>
            <div class="py-3 pl-8 pr-5  flex justify-between items-center">
                <h2 class="text-xl font-medium">
                    Brands
                </h2>
                <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg"></i>
            </div>


            <div *ngFor="let filterBrand of getBrandNames()" class="ml-10">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox" name="sortBy" [id]="filterBrand">
                    <label [for]="filterBrand">{{filterBrand}}</label>
                </div>
            </div>

        </li>

        <!-- sort by price -->
        <li>
            <div class="py-3 pl-8 pr-5  flex justify-between items-center">
                <h2 class="text-xl font-medium">
                    Price
                </h2>
                <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg"></i>
            </div>


            <div *ngFor="let priceFilter of getPrices()" class="ml-10">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox" name="sortBy" [id]="priceFilter">
                    <label [for]="priceFilter">{{priceFilter}}</label>
                </div>
            </div>

        </li>

        <!-- sort by dimensions -->
        <li>
            <div class="py-3 pl-8 pr-5  flex justify-between items-center">
                <h2 class="text-xl font-medium">
                    Dimensions
                </h2>
                <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg"></i>
            </div>


            <div *ngFor="let dimensionFilter of getDimensions()" class="ml-10">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox" name="sortBy" [id]="dimensionFilter">
                    <label [for]="dimensionFilter">{{dimensionFilter}}</label>
                </div>
            </div>

        </li>

        <!-- sort by Style -->
        <li>
            <div class="py-3 pl-8 pr-5  flex justify-between items-center">
                <h2 class="text-xl font-medium">
                    Style
                </h2>
                <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg"></i>
            </div>


            <div *ngFor="let stylesFilter of getStyles()" class="ml-10">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox" name="sortBy" [id]="stylesFilter">
                    <label [for]="stylesFilter">{{stylesFilter}}</label>
                </div>
            </div>

        </li>

        <!-- sort by material -->
        <li>
            <div class="py-3 pl-8 pr-5  flex justify-between items-center">
                <h2 class="text-xl font-medium">
                    Material
                </h2>
                <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg"></i>
            </div>


            <div *ngFor="let materialFilter of getMaterial()" class="ml-10">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="checkbox" name="sortBy" [id]="materialFilter">
                    <label [for]="materialFilter">{{materialFilter}}</label>
                </div>
            </div>

        </li>

        <!-- sort by discount -->
        <li>
            <div class="py-3 pl-8 pr-5  flex justify-between items-center">
                <h2 class="text-xl font-medium">
                    Material
                </h2>
                <i class="fi fi-br-caret-down mr-2 hover:bg-gray-100 p-2 rounded-lg"></i>
            </div>

            <div *ngFor="let discountFilter of getDiscounts()" class="ml-10">
                <div class="flex items-center my-2">
                    <input
                        class="form-check-input appearance-none rounded-full h-5 w-5 border border-accent-600 bg-white checked:bg-accent-600 checked:border-accent-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                        type="radio" name="sortBy" [id]="discountFilter">
                    <label [for]="discountFilter">{{discountFilter}}</label>
                </div>
            </div>

        </li>
    </ul>
</div>