<ul class="account-navigation">
    <li>
        My Profile <i class="fi fi-br-angle-right"></i>
    </li>
    <li>
        Manage Orders <i class="fi fi-br-angle-right"></i>
    </li>
    <li>
        Wishlist <i class="fi fi-br-angle-right"></i>
    </li>
    <li>
        Address Book <i class="fi fi-br-angle-right"></i>
    </li>
    <li>
        Alerts & Emails <i class="fi fi-br-angle-right"></i>
    </li>
    <li>
        My Reviews <i class="fi fi-br-angle-right"></i>
    </li>
    <li>
        Recently Viewed <i class="fi fi-br-angle-right"></i>
    </li>
    <li>
        Payment Methods <i class="fi fi-br-angle-right"></i>
    </li>
    <li>
        Account Settings <i class="fi fi-br-angle-right"></i>
    </li>
    <li>
        Need Help? <i class="fi fi-br-angle-right"></i>
    </li>
    <li>
        Contact Us <i class="fi fi-br-angle-right"></i>
    </li>
</ul>