<ul class="account-navigation">
    <li [ngClass]="getUrl('profile')">
        <a routerLink="profile">My Profile <i class="fi fi-br-angle-right"></i></a>
    </li>
    <li [ngClass]="getUrl('manage-orders')">
        <a routerLink="manage-orders">Manage Orders <i class="fi fi-br-angle-right"></i></a>
    </li>
    <li [ngClass]="getUrl('wishlist')">
        <a routerLink="wishlist">Wishlist <i class="fi fi-br-angle-right"></i></a>
    </li>
    <li [ngClass]="getUrl('address-book')">
        <a routerLink="address-book">Address Book <i class="fi fi-br-angle-right"></i></a>
    </li>
    <li [ngClass]="getUrl('alerts')">
        <a routerLink="alerts">Alerts & Emails <i class="fi fi-br-angle-right"></i></a>
    </li>
    <li [ngClass]="getUrl('my-reviews')">
        <a routerLink="my-reviews">My Reviews <i class="fi fi-br-angle-right"></i></a>
    </li>
    <li [ngClass]="getUrl('recently-viewed')">
        <a routerLink="recently-viewed">Recently Viewed <i class="fi fi-br-angle-right"></i></a>
    </li>
    <li [ngClass]="getUrl('payment-methods')">
        <a routerLink="payment-methods">Payment Methods <i class="fi fi-br-angle-right"></i></a>
    </li>
    <li [ngClass]="getUrl('settings')">
        <a routerLink="settings">Account Settings <i class="fi fi-br-angle-right"></i></a>
    </li>
    <li [ngClass]="getUrl('need-help')">
        <a routerLink="need-help">Need Help? <i class="fi fi-br-angle-right"></i></a>
    </li>
    <li [ngClass]="getUrl('contact-us')">
        <a routerLink="contact-us">Contact Us <i class="fi fi-br-angle-right"></i></a>
    </li>
</ul>