<app-header-navigation-bar></app-header-navigation-bar>
<div class="mt-20">

    <!-- mobile view address and filter div -->
    <div class="w-full xl:hidden flex justify-between px-4">
        <div class="flex justify-start">

            <button
                class="dropdown-toggle px-4 py-2.5 text-gray-800 font-medium text-xs leading-tight rounded border flex items-center whitespace-nowrap"
                type="button" id="dropdownMenuButton1d" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fi fi-br-marker mr-2"></i> S75 2SU Palm St, Ba...
                <i class="fi fi-br-caret-down ml-2"></i>
            </button>
            <ul class="dropdown-menu  absolute bg-white text-base z-50 float-left py-2  list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none"
                aria-labelledby="dropdownMenuButton1d">
                <li>
                    <a class="dropdown-item text-sm py-2 px-4 font-normal block max-w-full bg-transparent text-gray-700 hover:bg-gray-100"
                        href="#">S75 2SU Palm St, Barnsley, United Kingdom</a>
                </li>
                <hr class="h-0 my-2 border border-solid border-t-0 border-gray-700 opacity-25" />
                <li>
                    <a class="dropdown-item flex text-sm py-2 px-4 font-normal w-full whitespace-nowrap bg-transparent text-gray-700"
                        href="#">
                        <i class="fi fi-br-apps mr-3"></i>
                        Manage address
                    </a>
                </li>
            </ul>

        </div>

        <button
            class="flex items-center px-4 py-2.5 text-gray-800 text-xs leading-tight rounded border transition duration-150 ease-in-out"
            type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
            <i class="fi fi-br-filter mr-2"></i> Filter
        </button>
    </div>

    <!-- mobile view offcanvas div -->
    <div class="offcanvas offcanvas-bottom fixed bottom-0 flex flex-col max-w-lg bg-white invisible bg-clip-padding shadow-sm outline-none transition duration-300 ease-in-out text-gray-700 left-0 right-0 border-none h-5/6 max-h-full"
        tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
        <!-- header -->
        <div class="offcanvas-header flex items-center justify-between py-4 px-5">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">
                Filters
            </h5>
            <i class="fi fi-br-cross" data-bs-dismiss="offcanvas" aria-label="Close"></i>
            <!-- <i class=" box-content w-4 h-4 p-2 -my-5 -mr-2 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                ></i> -->
        </div>

        <!-- body -->
        <app-sorting-section class="offcanvas-body border-t flex-grow overflow-y-auto"></app-sorting-section>
    </div>

    <div class="py-20 border-b mt-20 hidden xl:flex justify-center items-center bg-blue-50"> offers section</div>

    <div class="flex flex-nowrap justify-center items-start h-fit w-screen">
        <app-sorting-section class="w-1/4 border-r min-h-screen overflow-y-auto hidden xl:block"></app-sorting-section>

        <div class="w-3/4">

            <div class="py-10 border-b hidden xl:flex items-center justify-center bg-gray-50">category section</div>

            <div class="flex justify-center mt-10">

                <div class="w-fit grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-y-10 gap-x-10">
                    <div class="w-80 h-fit cursor-pointer" *ngFor="let card of getBestSellers()">
                        <div class="relative">
                            <img src="https://images.unsplash.com/photo-1501045661006-fcebe0257c3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                alt="" class="h-56 object-cover object-center rounded-t-lg">

                            <span
                                class="px-3 py-1 text-white bg-red-600 m-2 rounded absolute font-sans text-sm top-0 left-0">
                                Best Seller
                            </span>

                            <ul class="flex bg-white absolute bottom-0 right-0 py-1 px-2 rounded-full m-2 space-x-1">
                                <li>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                        class="w-4 text-yellow-500 " role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                        </path>
                                    </svg>
                                </li>
                                <li>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                        class="w-4 text-yellow-500 " role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                        </path>
                                    </svg>
                                </li>
                                <li>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                        class="w-4 text-yellow-500 " role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                        </path>
                                    </svg>
                                </li>
                                <li>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                        class="w-4 text-yellow-500 " role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                        </path>
                                    </svg>
                                </li>
                                <li>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                        </path>
                                    </svg>
                                </li>
                            </ul>
                        </div>

                        <div class="rounded-b-lg border min-h-fit p-3 bg-white">

                            <h5 class="text-gray-900 text-lg font-medium mb-1">
                                Kaylee 3 Seater Velvet Sofa In Blush Pink Color (40% off)
                            </h5>
                            <p class="text-violet-700 text-xs mb-1">By CasaCraft</p>
                            <p class="font-sans">₹ 52,920
                                <span class="text-xs text-green-700 font-sans">
                                    Save ₹ 35,079
                                    <span class="line-through text-gray-500 ">MRP ₹ 87,999</span>
                                </span>
                            </p>


                            <div class="flex space-x-3 mb-1 mt-5">
                                <button
                                    class="w-full h-fit text-center py-2 border rounded text-accent-600 hover:bg-orange-50 active:bg-orange-100 hoverbg-gray-50">
                                    Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer-navigation-bar></app-footer-navigation-bar>